
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

ul, ol, menu {list-style: none;}

a {text-decoration: none; color: white;}

:root {
    /* COMMUN */
    --main-color-mini_bar_select: #adff2f;
    --transition-time: 0.2s;

    /* HEADER */
    --header-color-title: #fff;
    --header-color-bg: #000000;
    --header-color-text: #4a4a4a;
    --header-color-simbol: #d2d2d2;
    --header-color-plus: #a3a3a3;

    --header-padding-horizontal: 26px;

    /* ASIDE */
    --aside-color-bg: #282828;
    --aside-color-text: #6d6d6d;
    --aside-color-title: #e9e9e9;

    --aside-height: 120px;

    /* MAIN */
    --main-color-bg: #141922;
    --main-color-title: #fff;
    --main-color-nav_items: #7d7f84;
    --main-color-subtitle: #686b70;
}

.flex {display: flex;}

body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

/* START LAYOUT PRNCIPAL */

/* HEADER */

header {
    width: 305px;
    background-color: var(--header-color-bg);
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

/* CONTAINER MAIN */

main {
    flex-grow: 1;
    padding-bottom: var(--aside-height);
}

.container_main {
    flex-grow: 1;
    background-color: var(--main-color-bg);
    flex-direction: column;
    position: relative;
}

.container_main > .bar_top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container_main > .content {
    flex-grow: 1;
    padding-top: 120px;
    overflow: hidden;
}

/* ASIDE */

aside {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--aside-height);
    background-color: var(--aside-color-bg);
}

/* END LAYOUT PRNCIPAL */

/* HEADER ITEMS */

/* LOGO */
.logo {
    height: 120px;
    padding: var(--header-padding-horizontal);
    /* display: block; */
}

.logo .img_normal {
    width: 206px;
}

.logo .img_small {
    display: none;
    width: 40px;
    aspect-ratio: 1;
}

/* HOME */

.home {
    margin-bottom: 1.5rem;
}

.home a {
    color: var(--header-color-text);
    display: flex;
    align-items: center;
    transition: color var(--transition-time);
}

.home a:hover {
    color: var(--header-color-title);
}

.home a > i, .home a > .icons {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home li, .playlist li {
    padding: 0 var(--header-padding-horizontal);
}

/* ACTIVE */
.home li:active, .playlist li:active {
    border-left: 2px solid var(--main-color-mini_bar_select);
    padding-left: calc(var(--header-padding-horizontal) - 2px);
}

.home .home_i {
    color: var(--header-color-title);
}

.home li:first-child {
    padding-left: calc(var(--header-padding-horizontal) - 2px);
    border-left: 2px solid var(--main-color-mini_bar_select);
}

.home p {
    display: inline-block;
}

.library_i .icons {
    gap: 2px;
}

/* PLAYLIST */
.playlist a {
    color: var(--header-color-text);
    display: flex;
    align-items: center;
    transition: color var(--transition-time);
    padding: 8px 0;
}

.playlist a:hover {
    color: var(--header-color-title);  
}

.playlist h2 {
    text-transform: uppercase;
    color: var(--header-color-title);
    margin: 0 var(--header-padding-horizontal);
    margin-bottom: 1rem;
}

.playlist .plus {
    margin: 0 var(--header-padding-horizontal);
    gap: 0.75rem;
    font-size: 22px;
}

.playlist .plus i {
    width: 50px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--header-color-simbol);
    color: black;
    font-size: 30px;
    border-radius: 2px;
    transition: background-color var(--transition-time);
}

.playlist .plus:hover i {
    color: black;
    background-color: var(--header-color-title);
}

/* PROFILE HEADER */
.profile {
    flex-direction: column;
    padding: 0 var(--header-padding-horizontal);
}

.profile .install_app, .profile .user {
    gap: 12px;
    align-items: center;
    padding: 0.9rem 0 ;
}

.profile .install_app {
    font-size: 14px;
    padding-left: 5px;
    border-bottom: 1px solid var(--header-color-text);
}

.profile .user {
    color: var(--header-color-title);
}

.profile .user i {
    font-size: 2rem;
}

.profile a {
    color: var(--header-color-text);
    transition: color var(--transition-time);
}

.profile a:hover {
    color: var(--header-color-title);  
}

.profile p {
    display: block;
}

/* MEDIA QUERI RESPONSE */
@media screen and (max-width: 740px) {
    .logo .img_normal {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo .img_small {
        display: block;
    }

    .playlist {
        display: none;
    }

    header {
        width: 67px;
    }

    .home a {
        justify-content: center;
    }

    .home p {
        display: none;
    }

    :root {
        --header-padding-horizontal: 0;
    }

    .profile .user, .profile .install_app {
        justify-content: center;
        align-items: center;
    }

    .profile .install_app {
        padding-left: 0;
        border-bottom: none;
    }

    .profile p {
        display: none;
    }

    .logo {
        height: 67px;
    }
}
