
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

ul, ol, menu {list-style: none;}

a {text-decoration: none; color: white;}

.flex {display: flex;}

body {
    height: 100vh;
    background-color: aliceblue;
    flex-direction: column;
}

.container {
    flex-grow: 1;
    background-color: antiquewhite;
    overflow: hidden;
}

header {
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: var(--header-color-bg);
    flex-direction: column;
}

main {
    flex-grow: 1;
    flex-direction: column;
}

.bar_top {
    flex-basis: 90px;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    flex-grow: 1;
}

aside {
    flex-basis: 90px;
    flex-shrink: 0;
    background-color: var(--aside-color-bg);
}

:root {
    /* ASIDE */
    --aside-color-bg: #282828;

    /* HEADER */
    --header-color-bg: #000;
    --header-color-default_link: #686868;
    --header-color-hover_link: #fff;
    --header-color-mini_bar: #adff2f;
    --header-color-title: #fff;

    --header-transition-time: 0.2s;

    --header-padding-horizontal: 20px;
}

/* HEADER */
/* LOGO */
.logo {
    justify-content: center;
    align-items: center;
    flex-basis: 90px;
    flex-shrink: 0;
}

.logo .large {
    width: 130;
    padding: 0 20px;
}

.logo .small {
    display: none;
    padding: 0 10px;
    width: 100%;
}

/* NAV */
nav {
    padding: 0 var(--header-padding-horizontal);
}

nav a {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 2rem;
    position: relative;
    color: var(--header-color-default_link);
    transition: color var(--header-transition-time);
}

nav a i {
    font-size: 1.2rem;
    width: 1.4rem;
    aspect-ratio: 1;
    text-align: center;
}

nav .library i {
    transform: rotateY(180deg);
}

/* HOVER */
nav a:hover {
    color: var(--header-color-hover_link);
}

nav a.but_home::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

nav a:active::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

/* PLAYLIST */
.playlist {
    padding: 0 var(--header-padding-horizontal);
    flex-grow: 1;
}

.playlist h3 {
    color: var(--header-color-title);
    text-transform: uppercase;
    padding: 10px 0;
}

.playlist button {
    border: none;
    background: none;
    color: var(--header-color-default_link);
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: color var(--header-transition-time);
}

/* HOVER */
.playlist button:hover {
    color: var(--header-color-hover_link);
}

.playlist button:hover i {
    background-color: var(--header-color-hover_link);
}

.playlist button i {
    background-color: var(--header-color-default_link);
    color: black;
    width: 37px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 2px;
    transition: background-color var(--header-transition-time);
}

.playlist ul a {
    position: relative;
    color: var(--header-color-default_link);
    transition: color var(--header-transition-time);
    height: 2rem;
    display: block;
    line-height: 2rem;
}

.playlist ul a:hover {
    color: var(--header-color-hover_link);
}

/* ACTIVER */
.playlist ul a:active::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

/* FOOTER */
header .footer {
    padding: 0 var(--header-padding-horizontal);
    flex-direction: column;
    gap: 5px;
}

header .footer .install, header .footer .user {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

header .footer a.install {
    border-bottom: 1px solid var(--header-color-default_link);
    color: var(--header-color-default_link);
    transition: color var(--header-transition-time);
    padding-left: 5px;
}

header .footer a.install:hover {
    color: var(--header-color-hover_link);
}

header .footer a.install i {
    font-size: 12px;
}

header .footer .user {
    color: #fff;
}

header .footer .user i {
    font-size: 26px;
}

/* HEADER RESPONSE */
@media screen and (max-width: 555px){
    header {
        flex-basis: 50px;
    }

    .logo {flex-basis: auto; padding: 5px 0 10px;}
    .logo .small {display: block;}

    nav a {gap: 0;}

    .footer {margin-top: auto;}

    header .footer a.install {
        padding: 0;
        justify-content: center;
        border: none;
    }

    .logo .large, nav span, .playlist, .footer span {display: none};
}