
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

ul, ol, menu {list-style: none;}

a {text-decoration: none; color: white;}

img {max-width: 100%;}

.flex {display: flex;}

/* LAYOUT ====================================== */

body {
    height: 100vh;
    flex-direction: column;
}

.container {
    overflow: hidden;
    flex-grow: 1;
    background-color: var(--container-color-bg);
}

header {
    flex-basis: 230px;
    flex-shrink: 0;
    background-color: var(--header-color-bg);
    flex-direction: column;
    overflow-y: scroll;

}

main {
    flex-grow: 1;
    flex-direction: column;
}

.content {
    flex-grow: 1;
    overflow-y: scroll;
    height: 100%;
}

.content::-webkit-scrollbar {
    width: 15px;
}

.content::-webkit-scrollbar-track {
    background-color: #f9f9f9;
}

.content::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
    border-radius: calc(15px / 2);
    border: 3px solid #f9f9f9;
}

aside {
    flex-basis: 90px;
    flex-shrink: 0;
    background-color: var(--aside-color-bg);
    z-index: 100;
}

:root {
    /* ASIDE */
    --aside-color-bg: #282828;

    /* HEADER */
    --header-color-bg: #000;
    --color-default_link: #686868;
    --color-hover_link: #fff;
    --header-color-mini_bar: #adff2f;
    --header-color-title: #fff;

    --header-transition-time: 0.2s;

    --header-padding-horizontal: 20px;

    /* CONTAINER */
    --container-color-bg: #141922;

}

/* HEADER ========================================*/
/* LOGO ______________________________*/
.logo {
    justify-content: center;
    align-items: center;
    flex-basis: 90px;
    flex-shrink: 0;
}

.logo .large {
    width: 130;
    padding: 0 20px;
}

.logo .small {
    display: none;
    padding: 0 10px;
    width: 100%;
}

/* NAV ______________________________*/

/* INPUT FOR NAV LABEL */
body input[name="nav"] {
    display: none;
}

header nav {
    padding: 0 var(--header-padding-horizontal);
}

header nav label {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 2rem;
    position: relative;
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
    cursor: pointer;
}

header nav label img {
    width: 1.2rem;
    aspect-ratio: 1;
    text-align: center;
    filter: opacity(0.5);
    transition: filter var(--header-transition-time);
}

header nav label:hover img {
    filter: opacity(1);
}

header nav .library i {
    transform: rotateY(180deg);
}

/* HOVER ______________________________*/
header nav label:hover {
    color: var(--color-hover_link);
}

/* ACTIVER ______________________________*/
body input[name="nav"]#home:checked ~ .container header nav label.but_home::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

body input[name="nav"]#home:checked ~ .container header nav label.but_home img {
    filter: opacity(1);
}

body input[name="nav"]#home:checked ~ .container header nav label.but_home {
    color: var(--color-hover_link);
}

body input[name="nav"]#search:checked ~ .container header nav label.but_search::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

body input[name="nav"]#search:checked ~ .container header nav label.but_search {
    color: var(--color-hover_link);
}

body input[name="nav"]#search:checked ~ .container header nav label.but_search img {
    filter: opacity(1);
}

body input[name="nav"]#library:checked ~ .container header nav label.library::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

body input[name="nav"]#library:checked ~ .container header nav label.library {
    color: var(--color-hover_link);
}

body input[name="nav"]#library:checked ~ .container header nav label.library img {
    filter: opacity(1);
}

/* PLAYLIST ______________________________*/
.playlist {
    padding: 0 var(--header-padding-horizontal);
    flex-grow: 1;
}

.playlist h3 {
    color: var(--header-color-title);
    text-transform: uppercase;
    padding: 10px 0;
}

.playlist button {
    border: none;
    background: none;
    color: var(--color-default_link);
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: color var(--header-transition-time);
}

/* HOVER ______________________________*/
.playlist button:hover {
    color: var(--color-hover_link);
}

.playlist button:hover i {
    background-color: var(--color-hover_link);
}

.playlist button i {
    background-color: var(--color-default_link);
    color: black;
    width: 37px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    border-radius: 2px;
    transition: background-color var(--header-transition-time);
}

.playlist ul a {
    position: relative;
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
    height: 2rem;
    display: block;
    line-height: 2rem;
}

.playlist ul a:hover {
    color: var(--color-hover_link);
}

/* ACTIVER ______________________________*/
.playlist ul a:active::before {
    content: '';
    display: block;
    background-color: var(--header-color-mini_bar);
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: calc(var(--header-padding-horizontal) * -1);
}

/* FOOTER ______________________________*/
header .footer {
    padding: 0 var(--header-padding-horizontal);
    flex-direction: column;
    gap: 5px;
}

header .footer .install, header .footer .user {
    flex-basis: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

header .footer a.install {
    border-bottom: 1px solid var(--color-default_link);
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
    padding-left: 5px;
}

header .footer a.install:hover {
    color: var(--color-hover_link);
}

header .footer a.install i {
    font-size: 12px;
}

header .footer .user {
    color: #fff;
}

header .footer .user i {
    font-size: 26px;
}

/* HEADER RESPONSE ______________________________*/
@media screen and (max-width: 555px){
    header {
        flex-basis: 50px;
    }

    .logo {flex-basis: auto; padding: 5px 0 10px;}
    .logo .small {display: block;}

    nav a {gap: 0;}

    .footer {margin-top: auto;}

    header .footer a.install {
        padding: 0;
        justify-content: center;
        border: none;
    }

    .logo .large, nav span, .playlist, .footer span {display: none};
}

/* MAIN =========================================*/

.bar_top {
    position: fixed;
    top: 0;
    right: 0;
    left: 230px;
    z-index: 10;
    background-color: #00000080;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

body input[name="nav"]#search:checked ~ .container main .bar_top .search_bar {
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    max-width: 365px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    position: relative;
    flex-basis: 25%;
}

body input[name="nav"]#search:not(:checked) ~ .container main .bar_top {
    justify-content: flex-end;
}

body input[name="nav"]#search:not(:checked) ~ .container main .bar_top .search_bar {
    display: none;
}

.bar_top .search_bar .img_search {
    filter: invert(1);
    width: 30px;
    aspect-ratio: 1;
    transform: translateY(2px);
    margin-left: 10px;
}

.bar_top .search_bar input {
    margin: 8px 16px 8px 0;
    border: none;
}

.bar_top .search_bar input:focus {
    outline: none;
}

@media screen and (max-width: 380px) {
    .bar_top .search_bar input {
        margin: 8px 8px 8px 0;
        border: none;
    }
}

main .bar_top a {
    border: 1px solid var(--header-color-title);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 40px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform var(--header-transition-time);
}

main .bar_top a:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 555px) {
    .bar_top {
        left: 66px;
    }
}

@media screen and (max-width: 300px) {
    main .bar_top a {
        width: 180px;
    }
}

/* CONTENT */

.content {
    padding: 90px 20px 20px;
}

@media screen and (max-width: 745px) {
    body input[name="nav"]#search:checked ~ .container main .content {
        padding: 150px 20px 20px;
    }
}

.content nav ul {
    justify-content: center;
    flex-wrap: wrap;
}

.content nav ul input[type='radio']{
    display: none;
}

.content nav ul label {
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
    display: block;
    padding: 0 10px;
    height: 1.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    user-select: none;
}

.content nav ul label:hover {
    color: var(--color-hover_link);
}

.content nav ul label::before {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--header-color-mini_bar);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: opacity(0);
    transition: filter var(--header-transition-time);
}

.content nav ul input[type='radio']:checked + label::before {
    filter: opacity(1);
}

/* RENTLY PLAYER */

:root {
    --content-font_size-title: 1.8rem;
    --content-margin: 25px;
}

.zone .h2 {
    color: var(--header-color-title);
    font-size: var(--content-font_size-title);
    margin: var(--content-margin) 0;
    display: block;
    font-weight: bold;
}

.zone .h2:hover {
    text-decoration: underline;
}

.zone ul {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.zone li {
    flex-basis: calc((100% / 6) - 15px);
    text-align: center;
    max-width: 180px;
}

.zone img {
    width: 100%;
}

.zone h3 {
    color: var(--header-color-title);
    margin-top: 14px;
    font-size: 1rem;
}

.zone h4 {
    color: var(--color-default_link);
    margin-top: 6px;
    font-size: 12px;
}

@media screen and (max-width: 878px) {
    .zone ul {
        justify-content: flex-start;
    }

    .zone li {
        flex-basis: calc((100% / 4) - 15px);
    }
}

@media screen and (max-width: 672px) {
    .zone li {
        flex-basis: calc((100% / 2) - 15px);
    }

}

@media screen and (max-width: 300px) {
    .zone li {
        flex-basis: 100%;
    }
}

/* CREATE FOR ... */
.zone p {
    color: var(--color-default_link);
    font-size: 1rem;
    font-weight: bold;
    margin: calc(var(--content-margin) * -0.7) 0 var(--content-margin);
}

/* ARTIST */
.artist img {
    border-radius: 50%;
}

/* HOVER ZONE */
.zone li figure {
    position: relative;
    cursor: pointer;
}

.zone li figure .cover_play {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
}

.zone li figure:hover .cover_play {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: var(--color-hover_link);
}

.artist li figure .cover_play {
    border-radius: 50%;
}

/* ASIDE ========================================= */

:root {
    --aside-width-lateral: 230px;
}

aside {
    justify-content: space-between;
}

/* SONG  */
.song, .volume {
    flex-basis: var(--aside-width-lateral);
}

.song {
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    flex-shrink: 0;
}

.song .info {
    gap: 12px;
    align-items: center;
}

.song .info .img {
    flex-basis: 43px;
}

.song .info .img img {
    width: 100%;
}

.song .info .texts {
    flex-grow: 1;
}

.song .info .texts h3 {
    color: var(--color-hover_link);
    font-weight: bold;
    font-size: 12px;
}

.song .info .texts a {
    color: var(--color-default_link);
    font-size: 12px;
    transition: color var(--header-transition-time);
    display: block;
}

.song .info .texts a:hover {
    text-decoration: underline;
    color: var(--color-hover_link);
}

.song .icons {gap: 13px;}

.song .icons a {
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
}

.song .icons #heart {
    display: none;
}

.song .icons #heart:checked ~ label .fa-regular {
    display: none;
}

.song .icons #heart:not(:checked) ~ label .fa-regular {
    display: block;
}

.song .icons #heart:checked ~ label .fa-solid {
    display: block;
    color: red;
}

.song .icons #heart:not(:checked) ~ label .fa-solid {
    display: none;
}

.song .icons label {
    cursor: pointer;
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
}

/* HOVER */
.song .icons a:hover {
    color: var(--color-hover_link);
}

.song .icons label:hover {
    color: var(--color-hover_link);
}

@media screen and (max-width: 640px){
    .song {
        flex-basis: 175px;
    }

    .song .icons {
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 555px){
    .song {
        flex-basis: 0;
        flex-grow: 1;
        gap: 5px;
    }

    .song .texts .info_name {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 415px){
    .song {
        gap: 10px;
        flex-grow: 1;
        flex-basis: 0;
    }

    .song .info {
        flex-direction: column;
        gap: 0;
    }

    .song .info .img {
        width: 37px;
    }

    .song .info .texts p {
        display: none;
    }

    .song .texts .info_name {
        flex-shrink: 1;
    }
}

@media screen and (max-width: 310px) {
    .song {
        gap: 5px;
        padding: 5px;
        flex-direction: column;
    }

    .song .icons {
        flex-direction: row;
        gap: 5px;
    }
}

/* PLAYER */
.player {
    padding: 8px;
    flex-direction: column;
    align-items: center;
    color: var(--color-hover_link);
    flex-basis: 35%;
    flex-shrink: 1;
}

.player .top {
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.player .top i {
    cursor: pointer;
    padding: 10px;
}

.player .top label {
    font-size: 30px;
    transition: transform var(--header-transition-time);
}

.player .top label:hover {
    transform: scale(1.2);
}

.player > #stop {
    display: none;
}

.player > #stop:checked ~ .top .fa-circle-pause {
    display: block;
}

.player > #stop:not(:checked) ~ .top .fa-circle-pause {
    display: none;
}

.player > #stop:not(:checked) ~ .top .fa-circle-play {
    display: block;
}

.player > #stop:checked ~ .top .fa-circle-play {
    display: none;
}

.player > #stop:checked ~ .bottom .range {
    animation-play-state: paused;
}

.player > #stop:not(:checked) ~ .bottom .range {
    animation-play-state: running;
}

.player .bottom {
    width: 100%;
    gap: 25px;
    justify-content: center;
}

.player .bottom span {
    font-size: 10px;
    display: flex;
    align-items: center;
}

.player .bottom span:first-child {
    text-align: right;
}

.player .bottom .input {
    flex-basis: calc(100% - (100% - 430px));
    display: flex;
    justify-content: center;
    align-items: center;
}

.player .bottom .tracker {
    height: 5px;
    background-color: var(--volume-color-default);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.player .bottom .range {
    height: 100%;
    width: calc((100% / 4.35) * 0.25);
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2px;
    /* animation: play_music calc(4.35 * 60s) linear forwards; */
    animation: play_music 30s linear forwards;
    transition: background-color var(--header-transition-time);
}

.player .bottom .thumb {
    filter: opacity(0);
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.player .bottom .input:hover .range {
    background-color: var(--header-color-mini_bar);
}

.player .bottom .input:hover .thumb {
    filter: opacity(1);
}

@keyframes play_music {
    0% {
        width: 30%;
    }
    100%{
        width: 100%;
    }
}

@media screen and (max-width: 555px) {
    .player {
        padding: 10px 4px;
        flex-basis: 0;
    }

    .player .bottom {
        gap: 9px;
    }
}

@media screen and (max-width: 415px){
    .player {
        flex-grow: 2;
        flex-basis: 0;
    }
}

@media screen and (max-width: 310px) {
    .player {
        justify-content: space-around;
        gap: 5px;
        padding: 5px;
    }

    .player .top i {
        padding: 6px;
    }
}


/* VOLUME */

:root {
    --volume-color-default: #5a5a5a;
}

.volume {
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    overflow: hidden;
}

.volume .vol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume button {
    border: none;
    background: none;
    color: var(--color-default_link);
    transition: color var(--header-transition-time);
    cursor: pointer;
    flex-shrink: 0;
    flex-grow: 1;
}

.volume button:hover {
    color: var(--color-hover_link);
}

.volume .vol {
    flex-grow: 10;
}

.volume .vol .tracker {
    height: 5px;
    background-color: var(--volume-color-default);
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.volume .vol .range {
    height: 100%;
    width: calc((100% / 10) * 4);
    background-color: #c1c1c1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2px;
    transition: background-color var(--header-transition-time);
}

.volume .vol .thumb {
    filter: opacity(0);
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

.volume .vol:hover .range {
    background-color: var(--header-color-mini_bar);
}

.volume .vol:hover .thumb {
    filter: opacity(1);
}

@media screen and (max-width: 555px){
    .volume {
        flex-basis: 0;
        flex-grow: 1;
    }

    .volume button {
        flex-grow: 0;
    }
}

@media screen and (max-width: 415px){
    .volume {
        flex-wrap: wrap;
        flex-grow: 1;
        flex-basis: 0;
        justify-content: center;
    }

    .volume .vol {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 310px) {
    .volume {
        padding: 5px;
        gap: 5px;
    }
}