


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol, menu {list-style: none;}

:root {
    /* HEADER */
    --header-color-simbol: #fff;
    --header-color-bg: #000000;
    --header-color-text: #4a4a4a;
    --header-color-title: #d2d2d2;
    --header-color-more: #a3a3a3;

    /* ASIDE */
    --aside-color-bg: #282828;
    --aside-color-text: #6d6d6d;
    --aside-color-title: #e9e9e9;

    /* MAIN */
    --main-color-bg: #141922;
    --main-color-title: #fff;
    --main-color-mini_bar_nav: #adff2f;
    --main-color-nav_items: #7d7f84;
    --main-color-subtitle: #686b70;
}

.flex {display: flex;}

body {
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

/* START LAYOUT PRNCIPAL */

/* HEADER */

header {
    width: 306px;
    background-color: var(--header-color-bg);
    overflow: hidden;
}

/* CONTAINER MAIN */

main {
    flex-grow: 1;
}

.container_main {
    flex-grow: 1;
    background-color: var(--main-color-bg);
    flex-direction: column;
    position: relative;
}

.container_main > .bar_top {
    background-color: rgba(0, 0, 0, 0.5);
    height: 120px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.container_main > .content {
    flex-grow: 1;
    padding-top: 120px;
    overflow: hidden;
}

/* ASIDE */

aside {
    height: 120px;
    background-color: var(--aside-color-bg);
}

/* END LAYOUT PRNCIPAL */


